# Dependencias
node_modules/

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
ms-playwright/

# Variables de entorno
.env
.env.local

# Logs
npm-debug.log*
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Docker
.dockerignore
